.ProfilePicture {
    width: 5rem;
    height: 5rem;
    background-color: white;
}

.ProfilePicture--large {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.ProfilePicture--small {
    width: 2rem;
    height: 2rem;
}

.ProfilePicture > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px #ccc;
}